body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
}

.container {
	display: flex;
	width: 50%;
	height: 450px;
	margin-top: 10rem;
	background-color: white;
	border-radius: 10px;
	
}

.container > div {
padding-left: 20px;

}

.container > div:first-child {
	background-color: orange;
	width: 60%;
	color: white;
}

.login {
	background-color: grey;
	padding-left: 0px;


}